name: Test Project
on: [push, workflow_dispatch]
env:
  API_URL: ${{ secrets.API_URL }}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          # Everytime the package-lock.json changes, we cache dependencies again
          # The cache is used the second time we run the job "npm ci"
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      # By default, npm creates a cache of dependencies in the .npm folder
      - name: Install dependencies
        run: npm ci
      - name: Run linter
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      # Here we use a single cache available in all the workflow (the one specified in the previous step)
      # The cache is not different from one step to another
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npm test
  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: deps-node-modules-${{ hashFiles('**/package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Build project
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist-files
          path: dist
  deploy:
    needs: build
    env:
      DB_TEST: 123
    runs-on: ubuntu-latest
    steps:
      - name: Get build artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist-files
      - name: Output content
        run: ls
      - name: Deploy
        run: echo "Deploying... with API URL ${{ env.API_URL }} and DB URL $DB_TEST"
