name: Test Project
on: [push, workflow_dispatch]
env:
  API_URL: ${{ secrets.API_URL }}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Load & cache dependencies
        id: cache-deps
        uses: ./.github/actions/cached-deps
        # disable caching for this step
        with:
          caching: "false"
      - name: Output information
        run: echo "Cache used? ${{ steps.cache-deps.outputs.used-cache }}"
      - name: Run linter
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    # All the code below will be run on a container with node 18
    container:
      image: node:18
      # env: SOME_ENV_VAR
    env:
      MONGODB_CONNECTION_PROTOCOL: mongodb
      MONGODB_CLUSTER_ADDRESS: mongodb
      MONGODB_USERNAME: root
      MONGODB_PASSWORD: example
    services:
      mongodb:
        image: mongo
        env:
          MONGO_INITDB_ROOT_USERNAME: root
          MONGO_INITDB_ROOT_PASSWORD: example
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Load & cache dependencies
        uses: ./.github/actions/cached-deps
      - name: Run tests
        id: run-tests
        run: npm test
      - name: Upload test report
        if: failure() && steps.run-tests.outcome == 'failure'
        uses: actions/upload-artifact@v3
        with:
          name: test-report
          path: test.json
  build:
    needs: [lint, test]
    runs-on: ubuntu-latest
    env:
      DB_TEST: 123
    steps:
      - name: Get code
        uses: actions/checkout@v3
      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Load & cache dependencies
        uses: ./.github/actions/cached-deps
      - name: Build project
        run: npm run build
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: dist-files
          path: dist
      - name: Dummy log
        run: echo "API URL is ${{ env.API_URL }} and DB URL is $DB_TEST"
  deploy:
    needs: build
    uses: ./.github/workflows/reusable.yml
    with:
      artifact-name: dist-files
    # secrets:
    #   some-secret: ${{ secrets.some-secret }}
  print-deploy-result:
    needs: deploy
    runs-on: ubuntu-latest
    steps:
      - name: Print deploy output
        run: echo "${{ needs.deploy.outputs.result }}"
  report:
    needs: [lint, test, build, deploy]
    if: failure()
    runs-on: ubuntu-latest
    steps:
      - name: Output information
        run: |
          echo "Something went wrong"
          echo "${{ toJSON(github) }}"
  information:
    runs-on: ubuntu-latest
    steps:
      # We must checkout the code to use a custom action
      - name: Get code
        uses: actions/checkout@v3
      - name: Run custom action
        uses: "./.github/actions/deploy-s3-javascript"
